<div class="col-xxl-4 offset-xxl-4 col-lg-6 offset-lg-3 col-10 offset-1">
  @for (location of this.locations(); track location.id) {
    <div class="card mb-2 shadow-lg {{hidden() ? 'overflow-auto' : 'overflow-hidden'}}">
      <div class="card-header d-flex">
        <h5>
          {{location.name}}
        </h5>
        <button role="button" class="btn ms-auto">
          <i class="fa fa-times text-danger" ></i>
        </button>
      </div>
      <div class="card-body">
        <div class="container">
          <button class="btn btn-primary rounded shadow-lg fixed-bottom m-2" (click)="open()"><i class="fa fa-plus-square"></i>New Item</button>
          <div class="row vh-100 align-items-center">
            <div class="col-xxl-4 offset-xxl-4 col-lg-6 offset-lg-3 col-10 offset-1">
              @for (item of items(); track item.id) {
                @if (item.locationId === location.id) {
                  <div class="card mb-2 shadow-lg z-3">
                    <div class="card-header d-flex">
                      <h5>
                        {{ item.name }}
                      </h5>
                      <button role="button" class="btn ms-auto" (click)="onDeleteItem(item.id!)">
                        <i class="fa fa-times text-danger"></i>
                      </button>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Category: {{ item.categoryId }}</p>
                      <p class="card-text">Unit: {{ item.unit }}</p>
                      @if ( item.expDate ) {
                      <p class="card-text">Expiration Date: {{ item.expDate }}</p>
                      } @else {
                      <p class="card-text">Expiration Date: Never</p>
                      }
                    </div>
                  </div>
                }
              }
            </div>
          </div>
        </div>
      </div>
      <a class="btn stretched-link" (click)="onClick()"></a>
    </div>
  }
</div>