<div class="modal-header">
  <h4 class="modal-title">Add a new category</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="addCategoryForm" novalidate>
    <div class="form-floating">
      <input type="text" class="form-control mb-3 bg-body-secondary" id="floatingCatName" placeholder="Category Name"
        formControlName="catName">
      <label for="floatingCatName">Category Name</label>  
    </div>
    <div class="form-floating">
      <input type="text" class="form-control mb-3 bg-body-secondary" id="floatingCatDescription" placeholder="Category Description"
        formControlName="catDescription">
      <label for="floatingCatDescription">Category Description (optional)</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary w-100 py-2" (click)="onSubmit()">Add</button>
</div>
